# This file contains all the files/directories that should
# be ignored (i.e. not included) in the final packaged extension.

# ignore all ts files, because only js is relevant
**/*.ts
**/tsconfig.json

# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
out/test/**
.vscode-test.mjs
coverage/**

# Ignore source code
src/**
resources/**

# ignoring out and node_modules, because the extension will be packed with webpack
out/**
node_modules/**

# Ignore all webview-ui files except the build directory
webview-ui/**
!webview-ui/build/**

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.json
**/*.map
**/*.ts
.DS_Store
.gitignore
.mocharc.json
eslint.config.mjs
DEV_NOTES.md
.gitlab
.github
