.normalButton {
  margin: 5px;
}

.component-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Let all inputs take the full width */
vscode-text-field,
vscode-text-area,
vscode-dropdown {
  width: 100%;
}

/* Wrapping words in pre, so it will be still readable when having a lot of entries */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 800px;
}

/* adjusting style for dropdowns */
.dropdown-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

label {
  display: block;
  color: var(--vscode-foreground);
  cursor: pointer;
  font-size: var(--vscode-font-size);
  line-height: normal;
  margin-bottom: 2px;
}

/* add a required indicator when needed */
vscode-text-field[required]::part(label)::after {
  content: "*";
  color: var(--vscode-errorForeground);
}

/* Style toolips in vscode colors. */
.tooltip-colors {
  background-color: var(--vscode-input-background);
  color: var(--vscode-foreground);
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: end;
}

/*#region Styles for the triple input of server address, port andd database name */
.tripleInput {
  flex: 1;
  margin: 0 5px;
}

.tripleInput:first-child {
  margin-left: 0;
}

.tripleInput:last-child {
  margin-right: 0;
}
/*#endregion RegionName*/
