name: Build Project

on:
  pull_request:
  push:
    branches:
      - "main"
  release:
    types: [created]

jobs:

  sbom:
    name: Generate merged SBOM
#    if: github.event_name == 'release' || (github.ref_name == 'main' && github.event_name != 'pull_request')
    runs-on: ubuntu-latest
#    needs: build
    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: Install dependencies (root)
        run: npm ci --ignore-scripts

      - name: Install deps (webview-ui)
        working-directory: webview-ui
        run: npm ci --ignore-scripts

      - name: Install cyclonedx-npm
        run: npm install --global --ignore-scripts @cyclonedx/cyclonedx-npm

      - name: Generate SBOM (root)
        run: cyclonedx-npm --output-file sbom/sbom-root.json

      - name: Generate SBOM (webview-ui)
        run: cyclonedx-npm --output-file sbom/sbom-webview-ui.json webview-ui/package.json

      - name: Prepare directory for SBOM JARs
        run: npm run prepareSbomJarCreation

      - name: Create SBOM for JARs
        uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad
        with:
          path: ./out/sbom/
          format: cyclonedx-json
          upload-artifact: false
          output-file: sbom/sbom-jars.json

      - name: Merge + validate (CycloneDX CLI via Docker)
        run: |
          docker run --rm \
            -v "${GITHUB_WORKSPACE}:/work" \
            -w /work \
            cyclonedx/cyclonedx-cli \
            merge --input-files sbom/sbom-root.json sbom/sbom-webview-ui.json sbom/sbom-jars.json --output-file sbom/combined-sbom.json

      - name: Upload combined SBOM artifact
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: combined-sbom
          path: sbom/combined-sbom.json
          if-no-files-found: error
          retention-days: 1

      - name: Upload SBOM to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@48feab3080ff9e8f51f4d21861d9fc914eb744f5
        with:
          serverHostname: ${{ secrets.DEPENDENCYTRACK_HOSTNAME }}
          apiKey: ${{ secrets.DEPENDENCYTRACK_APIKEY }}
          projectName: ${{ github.event.repository.name }}
          projectVersion: ${{ github.ref_name }}
          projectTags: 'designer-extension-pack,${{ github.event.repository.name }}'
          bomFilename: "sbom/combined-sbom.json"
          autoCreate: true
